/UniversityEnentManagement/nbproject/private/
/UEMS/nbproject/private/
/University/nbproject/private/
/Activity_04_CST/nbproject/private/
/Activity_04_CST/dist/
/Activity_04_CST/build/
/lol/nbproject/private/
/UEMS/build/
/BinaryTree/nbproject/private/
/BMI/nbproject/private/
/BMI/build/
/LabSheet08/nbproject/private/
/LabSheet08/build/
/UniversityEventManagementSystem/nbproject/private/
